* {
    

}
body{
    background-color: rgba(245, 20, 144, 0.342);
    border-radius: 50px;
    border-width: thick;
}
.game {
    padding: 20px;
    margin: 10px;
    border-radius: 50px;
    border-width: thick;
    background-color: rgb(252, 252, 252);
    position: relative;
}

h1 {
    color: "black";
    padding-left:500px;
    padding-bottom:08px
}
.menu {
    margin-left: 550px;
    padding: 5px;

}
.header {
    background-color: rgb(252, 252, 252);
    border-radius: 50px;
    border-width: thick;
}
 
.Games{
    margin-left: 60px;
    display: flex; 
    flex-wrap:wrap;
    justify-content:space-evenly;
}

.game p {
    opacity: 0;
    color: rgb(255,255,255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.game p:hover {
    opacity: 1;
}
.game:hover{
    transform: scale(1.5);
   
}

.header:hover{
    background-color: rgba(214, 54, 179, 0.637);
}

.paragraph{
    width: 500px;
    margin-left: 350px;
    background-color: rgba(228, 48, 41, 0.925);
    border-radius: 50px;
    border-width: thick;
    color: rgb(255, 255, 255);
}

a:link {
    color: "red"
}

a:visited {
    color: rgba(243, 11, 193, 0.925)
}